body {
  margin: 40px;
}
.container {
  display: flex;
}
.contact {
  width: 35%;
}
.contact-item {
  padding: 5px 0 10px 5px;
}
.message {
  width: 65%;
}
.message-form__input input {
  width: 100%;
  margin-bottom: 10px;
}
.message-form__input textarea {
  width: 100%;
  margin-bottom: 10px;
}
.message-form__button {
  color: white;
  background-color: rgb(58, 104, 88);
  width: 150px;
  height: 40px;
}
