:root {
  --text-color: #676767;
  --background-color: #fef5f5;
  --primary-color: #f86061;
}
html {
  font-size: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  font-size: 0;
  vertical-align: middle;
}
.wrapper {
  padding: 70px 0;
}
.wrapper:nth-of-type(2n) {
  background: var(--background-color);
  width: 100%;
}
/* START HEADER */
.header {
  width: 90%;
  margin: 40px auto;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navbar > .logo {
  display: inline-block;
  width: 155px;
  height: auto;
}
.header-navbar > .logo > a {
  display: inline-block;
  width: 155px;
}
.header-navbar > label {
  display: none;
}
.header-navbar > .nav-and-btn {
  display: flex;
  justify-content: space-between;
}
.nav-and-btn > .nav > ul {
  display: flex;
  list-style: none;
  font-size: 14px;
  margin: 0 40px;
}
.nav-and-btn > .nav > ul > li {
  margin: 0 10px;
  padding: 10px 0;
}
.nav-and-btn > .nav > ul > li > a {
  text-decoration: none;
  color: #000;
}
.nav-and-btn > .nav > ul > li > a:hover {
  color: var(--primary-color);
}
.nav-and-btn > .search-btn {
  box-shadow: 0 0 10px #f8f8f8;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.nav-and-btn > .search-btn > .search-icon {
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 0 10px 0 20px;
}
.nav-and-btn > .search-btn > input {
  border: none;
  padding: 10px 0;
  outline: none;
}
.nav-and-btn > .search-btn > .cart {
  font-size: 1.8rem;
  padding: 0 20px 0 0;
  position: relative;
}
.nav-and-btn > .search-btn > .cart::before {
  content: "|";
  color: var(--text-color);
  font-size: 1.8rem;
  margin-right: 5px;
}
.nav-and-btn > .search-btn > .cart::after {
  content: "2";
  font-size: 1.4rem;
  line-height: 1.4rem;
  height: 2.8rem;
  width: 2.8rem;
  background: var(--primary-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20px;
  right: -10px;
}
/* END HEADER */
/* START SECTION */
section {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
section .content {
  width: 50%;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .content > .sub-title h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 22px;
  color: var(--primary-color);
}
section .content > .title h2 {
  font-size: 3.2rem;
  line-height: 4.4rem;
  margin-bottom: 22px;
}
section .content > .text p {
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--text-color);
  margin-bottom: 22px;
}
section .btn-row {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin: 50px 0 40px 0;
}
section .btn-row > .btn a {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  padding: 20px 25px;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  background: var(--primary-color);
  transition: background 0.2s linear;
  border: 1px solid var(--primary-color);
}
section .btn-row > .btn a:hover {
  color: var(--primary-color);
  background: #fff;
  transition: background 0.2s linear;
}
section .btn-row > .btn-with-icon a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  color: #000;
}
section .btn-row > .btn-with-icon a:hover {
  opacity: 0.7;
}
section .btn-row > .btn-with-icon a img {
  border-radius: 100%;
  box-shadow: 0 0 10px #f8f8f8;
  margin-right: 10px;
}
section > .img {
  width: 50%;
  padding: 0 8px;
  display: flex;
  justify-content: center;
}
/* END SECTION */
/* GROVER ABOUT */
.grover-about .content > .sub-title {
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  background-color: var(--background-color);
  padding: 10px 20px;
  border-radius: 99px;
}
.grover-about .content > .sub-title h3 {
  background-color: var(--background-color);
  margin: 0;
}
.grover-about .content > .sub-title img {
  background-color: var(--background-color);
}
.grover-about .content > .title h2 {
  font-size: 4.4rem;
  line-height: 5rem;
}
/* WHY CHOOSE US */
.why-choose-us .content > .sub-title h3 {
  color: #03a66b;
}
/* HOME DELIVERY */
.home-delivery .content > .sub-title h3 {
  color: #f9ba45;
}
/* SERVICES */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}
.services .sub-title {
  background-color: transparent;
}
.services .sub-title h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 22px;
  color: var(--primary-color);
  background-color: transparent;
}
.services .title {
  background-color: transparent;
}
.services .title h2 {
  font-size: 3.2rem;
  line-height: 4.4rem;
  margin-bottom: 70px;
  background-color: transparent;
}
.services .service-list {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.service-item-wrapper {
  background: #fff;
  width: 25%;
  text-align: center;
  position: relative;
  border-radius: 10px;
  margin: 0 10px;
}
.service-item-wrapper:hover .service-item-behind {
  transform: rotate(-2deg);
  transform-origin: top left;
  transition: transform 0.2s linear;
}
.service-item {
  width: 100%;
  height: 100%;
  padding: 40px 25px;
  border-radius: 10px;
  position: relative;
}
.service-item-behind {
  width: 100%;
  height: 100%;
  background-color: #fe6a6a;
  position: absolute;
  z-index: 0;
  top: 0;
  transform: rotate(0deg);
  left: 0;
  transition: transform 0.2s linear;
  border-radius: 10px;
}
.service-item-img img {
  height: 60px;
  font-size: 0;
  margin-bottom: 70px;
}
.service-item-content {
  font-size: 15px;
  line-height: 1.4;
}
.service-item-content h4 {
  font-size: 20px;
  margin-bottom: 30px;
}
/* DOWNLOAD */
.download .img,
.download .img img,
.download .content,
.download .content .sub-title,
.download .content .title,
.download .content h2,
.download .content h3,
.download .content .text,
.download .content p,
.download .content .btn-row,
.download .content a,
.download .content img {
  background: var(--background-color);
}

/* FOOTER */
.footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.footer-item > h5 {
  font-size: 1.8rem;
  line-height: 42px;
}
.footer-item .footer-text {
  font-size: 1.6rem;
  margin-top: 30px;
  line-height: 1.8;
  color: var(--text-color);
}
.footer-item ul {
  list-style: none;
  margin-top: 20px;
}
.footer-item ul li {
  padding: 10px 0;
}
.footer-item ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--text-color);
}
.footer-item ul li a:hover {
  color: #414141;
}
.footer-item:nth-of-type(1) {
  width: 34%;
}
.footer-item {
  width: 22%;
  padding: 0 8px;
}
@media screen and (max-width: 991px) {
  :root {
    --text-color: #676767;
    --background-color: #fef5f5;
    --primary-color: #f86061;
  }
  .header {
    width: 80%;
  }
  .header-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header-navbar .logo {
    width: 70%;
  }
  .header-navbar > label {
    display: block;
    font-size: 20px;
    padding: 4px 10px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
  }
  .header-navbar .nav-and-btn {
    display: none;
    width: 60%;
  }
  .nav ul {
    flex-direction: column;
    text-align: center;
  }
  .nav ul li {
    height: 65px;
  }
  .nav ul li a {
    font-size: 1.5rem;
    padding: 25px 70px;
  }
  .search-btn {
    display: flex;
    justify-content: space-between;
  }
  .search-btn input {
    width: 70%;
  }
  .header-navbar input:checked ~ .nav-and-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 50%;
    translate: -50%;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  section > .content {
    width: 100%;
  }
  section > .img {
    width: 100%;
    padding-bottom: 40px;
  }
  .home-delivery > .content {
    order: 2;
  }
  .home-delivery > .img {
    order: 1;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-item:nth-of-type(1) {
    width: 100%;
  }
  .footer-item {
    width: 100%;
    text-align: center;
  }
  .footer h5 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .service-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .service-item-wrapper {
    width: 100%;
  }
}
